.tiptap-tooltip {
  --tt-tooltip-bg: var(--tt-gray-light-600);
  --tt-tooltip-text: var(--white);
  --tt-kbd: var(--tt-gray-light-a-100);

  z-index: 200;
  border-radius: 0.375rem;
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  text-align: center;
  background-color: var(--tt-tooltip-bg);
  color: var(--tt-tooltip-text);

  .dark & {
    --tt-tooltip-bg: var(--white);
    --tt-tooltip-text: var(--tt-gray-dark-600);
    --tt-kbd: var(--tt-gray-dark-a-100);
  }

  kbd {
    background-color: var(--tt-kbd);
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
    font-family: monospace;
    font-size: 0.7rem;
  }
}
